.headerWrapper {
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 8px 20px;
}

.leftPart,
.rightPart {
    display: flex;
    align-items: center;
}

.leftPart {
    column-gap: 12px;
    margin: 0 auto;
}

.rightPart {
    column-gap: 12px;
}

.headerItem {
    text-decoration: none;
    font-size: 18px;
}

.login {
    font-size: 18px;

}